@{
    ViewData["Title"] = "Create";
}

@model Person


<h2>Create Person</h2>

<form asp-action="Create" method="post">
<div class="mb-3">
        <label for="FirstName">First Name:</label>
        <input asp-for="FirstName" placeholder="First Name: "/>
</div>
    <div class="mb-3">
        <label for="LastName">Last Name:</label>
        <input asp-for="LastName" placeholder="Last Name: " />
    </div>
    <div class="mb-3">
        <label for="Departmant">Departmant:</label>
        <input asp-for="Departmant" placeholder="Departmant: " />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>