@model personDapper.Models.Departmant

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Person</h2>

<form asp-action="Update" method="post">
    <div class="mb-3">
        <label for="DepartmantName">Departmant Name:</label>
        <input asp-for="DepartmantName" placeholder="Departmant Name: " />
    </div>

    <input type="hidden" asp-for="DepartmantId" />
    <br />
    <input type="submit" value="Update" class="btn btn-outline-warning" />
    <a asp-action="Index" class="btn btn-outline-secondary">Go Back</a>
</form>
